<!DOCTYPE html>
<html>
<head>
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


</head>
<body>
    <div class="row">
        <div class="col-lg-2-md-2 col-sm-2 col-xs-2" style="height:900px;border:1px solid gray; background-color:darkgrey">
            <div style="width:100%" class="container list-group">
                <div class="list-group-item">@Html.ActionLink("Add Category", "Add_Category", new { @class = "list-group-item" })</div>
                <div class="list-group-item">@Html.ActionLink("Add Question", "Addquestion", new { @class = "list-group-item" })</div>
                <div class="list-group-item">@Html.ActionLink("Reports", "Dashboard", new { @class = "list-group-item" })</div>
                <div class="list-group-item">@Html.ActionLink("Logout", "Logout", new { @class = "list-group-item" })</div>
                
                

            </div>
        </div>
        <div class="col-lg-10-md-10 col-sm-10 col-xs-10" style="height: 900px; border: 1px solid gray; background-image: url('../../Content/img/l2svg2.svg'); background-size: cover" >
            @RenderBody()
        </div>
    </div>
    

</body>
</html>
